# Operating System.
Ubuntu 16.04 or higher

# Softwares
Julia >= 1.2.0
Installation Procedure for Ubuntu : https://ferrolho.github.io/blog/2019-01-26/how-to-install-julia-on-ubuntu

Ruby >= 2.7.0
Installation Procedure for Ubuntu: sudo apt install ruby-full

swift >= 5.0
Installation Procedure for Ubuntu: https://medium.com/@gigmuster/install-swift-5-0-on-ubuntu-18-04-86f6b96654

git 
Required for uploading the log.txt for each individual programs.
